<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>《人民日报》信息检索系统</title>
  </head>
  <body>
    <p>
        请输入查询条件：
    </p>
    <form action="{% url 'es:results' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>查询年份</h1></legend>
            <input type="month" name="yearmonth1">
            至
            <input type="month" name="yearmonth2">
        </fieldset>
        <fieldset>
            <legend><h1>关键词</h1></legend>
            <input type="radio" name="include1" value="True" checked=true> 包含
            <input type="radio" name="include1" value="False"> 不包含
            关键词1：<input type="text" name='keyword1'><br>
            <select name="operation">:
                <option value='only'>单一关键词</option>
                <option value='and'>且</option>
                <option value='or'>或</option>
            </select><br>
            <input type="radio" name="include2" value="True" checked=true> 包含
            <input type="radio" name="include2" value="False"> 不包含
            关键词2：<input type="text" name='keyword2'><br>
        </fieldset>
        <br>
        <input type="submit" value="查询">
    </form>
  </body>
</html>